
.forgot-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.forgot-card{
    width:380px;
    padding:30px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,.2);
}

.forgot-card form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.forgot-card input{
    width:100%;
    padding:12px;
    box-sizing:border-box;
}

.password-box{
    position:relative;
    width:100%;
}

.password-box input{
    width:100%;
    padding:12px 45px 12px 12px;
    box-sizing:border-box;
}

.eye-btn{
    position:absolute;
    right:12px;
    top:50%;
    transform:translateY(-50%);

    background:transparent;
    border:none;

    width:auto !important;
    height:auto !important;

    padding:0 !important;
    margin:0 !important;

    cursor:pointer;
    font-size:18px;
}

.forgot-card > form > button{
    width:100%;
    padding:12px;
    cursor:pointer;
}

.back-login-btn{
    width:100%;
    padding:10px;
    margin-top:10px;

    background:#ffffff;
    color:#007bff;

    border:2px solid #007bff;
    border-radius:8px;

    cursor:pointer;
    font-weight:600;

    transition:.3s;
}

.back-login-btn:hover{
    background:#007bff;
    color:#ffffff;
}